@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%) fixed;
  line-height: normal;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
  font-size: 14px;
  line-height: 1.8;
}

.weather-app {
  border: 1px solid rgba(22, 22, 22, 0.164);
  background-color: white;
  max-width: 800px;
  margin: 30px auto 10px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: #c25df1;
  font-weight: bold;
  border: #c25df1;
}

.btn-primary:hover {
  background-color: white;
  color: #c25df1;
  border: 1px solid #c25df1;
}

#weather-form {
  margin-bottom: 20px;
}

.image {
  width: 130px;
}

.city-name {
  font-weight: 900;
}

#temperature {
  font-size: 80px;
}

.units {
  position: relative;
  top: -40px;
}

.units a {
  text-decoration: none;
}

.active {
  color: black;
  cursor: default;
}
.active:hover {
  color: black;
}

.description {
  text-transform: capitalize;
}

.humidity,
.wind,
.desactive {
  color: #c25df1;
  font-weight: bold;
}

.future-weather {
  margin: 20px auto;
}
.future-weather .col {
  text-align: center;
  padding: 0;
}
.card-title {
  font-size: 17px;
}

.card {
  margin: 7px auto;
  border: white;
}

.card .maxim {
  font-size: 18px;
  line-height: 1.5;
  color: #c25df1;
  font-weight: 700;
  margin-right: 5px;
}

.card .minim {
  font-size: 18px;
  opacity: 0.6;
  line-height: 1.5;
  color: #c25df1;
  font-weight: 700;
}

.card-img-top {
  width: 50%;
}

.footer {
  font-size: small;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.footer a {
  text-decoration: none;
  color: #c25df1;
}
